<form [formGroup]="formBuscarFiltro">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-outline-success btn-sm" type="button" (click)="buscar()">
        <i class="fa fa-refresh" aria-hidden="true">&nbsp;<b>Recargar</b></i>
      </button>
    </span>
    <input type="text" class="form-control" id="buscar" placeholder="CI/Nombres/Apellidos" formControlName="buscar">
    <div class="input-group-btn">
      <button type="button" class="btn btn-outline-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-search" aria-hidden="true">&nbsp;<b>Buscar por</b></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" (click)="buscarporci()">
          <i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Cédula de Identificación</b></i>
        </a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="buscarpornombres()">
          <i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Nombres</b></i>
        </a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="buscarporapellidos()">
          <i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Apellidos</b></i>
        </a>
      </div>
    </div>
  </div>
</form>
<div style="height:350px;overflow-y: scroll;">
  <table class="table table-bordered table-sm table-hover">
      <thead>
        <tr>
          <th>
            Cédula de Identificación
          </th>
          <th>
            Nombres
          </th>
          <th>
            Apellidos
          </th>
          <th>
            Edad Mental
          </th>
          <th>
            CI Evaluado
           </th>
          <th>
            Nivel de ACG
          </th>
          <th>
            Evaluar el CI
          </th>
          <th>
            Actualizar
          </th>
          <th>
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of estudiantes">
          <td>{{estudiante.ci}}</td>
          <td>{{estudiante.nombres}}</td>
          <td>{{estudiante.apellidos}}</td>
          <td>{{estudiante.edadmental? mesesanios(estudiante.edadmental) : ''}} </td>
          <td>{{estudiante.cicalculado}}</td>
          <td>{{estudiante.nivelcognitivo}}</td>
          <td>
            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#historialTestModal" (click)="setEvalEstudiante(estudiante)">
              <i class="fa fa-list-ol" aria-hidden="true">&nbsp;<b>Evaluar</b></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#detalleEstudianteModel" (click)="setUpdEstudiante(estudiante)">
              <i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;<b>Actualizar</b></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-warning btn-sm" (click)="setDelEstudiante(estudiante)">
              <i class="fa fa-trash-o" aria-hidden="true">&nbsp;<b>Eliminar</b></i>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
<hr>
<i class="fa fa-info-circle" aria-hidden="true">&nbsp;(CI - Coeficiente Intelectual)</i>
<br>
<i class="fa fa-info-circle" aria-hidden="true">&nbsp;(ACG - Aptitud Cognitiva General)</i>

<div class="modal fade" id="detalleEstudianteModel" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="detalleEstudianteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form novalidate [formGroup]="formDetalleEstudiante">
      <div class="modal-content">
        <div class="card card-inverse card-primary text-xs-center">
          <div class="card-block">
            <div class="modal-header">
              <h5 class="modal-title" id="detalleEstudianteModelLabel">
                <img [src]="imageIqMedi" style="width: 50px">
                <font color="white">Detalles Persona</font>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #btncerrardetalleestudiante (click)="limpiardetalleEstudiante()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="width: 100%;text-align: center">
                <i class="fa fa-user fa-5x" aria-hidden="true"></i>
              </div>
              <br>
              <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Cédula de Identificación</b></i></div>
                <input type="number" class="form-control" id="ci" placeholder="Cédula de Identificación" formControlName="ci">
              </div>
              <div *ngIf="formDetalleEstudiante.controls.ci.errors && formDetalleEstudiante.controls.ci.touched">
                <div *ngIf="formDetalleEstudiante.controls.ci.errors.required" class="alert alert-danger">
                  El campo es requerido
                </div>
              </div>
              <br>
              <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Nombres</b></i></div>
                <input type="text" class="form-control" id="nombres" placeholder="Nombres" formControlName="nombres">
              </div>
              <div *ngIf="formDetalleEstudiante.controls.nombres.errors && formDetalleEstudiante.controls.nombres.touched">
                <div *ngIf="formDetalleEstudiante.controls.nombres.errors.required" class="alert alert-danger">
                  El campo es requerido
                </div>
              </div>
              <br>
              <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Apellidos</b></i></div>
                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" formControlName="apellidos">
              </div>
              <div *ngIf="formDetalleEstudiante.controls.apellidos.errors && formDetalleEstudiante.controls.apellidos.touched">
                <div *ngIf="formDetalleEstudiante.controls.apellidos.errors.required" class="alert alert-danger">
                  El campo es requerido
                </div>
              </div>
              <br>
              <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Sexo</b></i></div>
                <select class="form-control" id="sexo" placeholder="sexo" formControlName="sexo">
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>
              <div *ngIf="formDetalleEstudiante.controls.sexo.errors && formDetalleEstudiante.controls.sexo.touched">
                <div *ngIf="formDetalleEstudiante.controls.sexo.errors.required" class="alert alert-danger">
                  El campo es requerido
                </div>
              </div>
              <br>
              <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true">&nbsp;<b>Fecha de Nacimiento</b></i></div>
                <input type="date" class="form-control" id="fechanacimiento" placeholder="Fecha de Nacimiento" formControlName="fechanacimiento">
              </div>
              <div *ngIf="formDetalleEstudiante.controls.fechanacimiento.errors && formDetalleEstudiante.controls.fechanacimiento.touched">
                <div *ngIf="formDetalleEstudiante.controls.fechanacimiento.errors.required" class="alert alert-danger">
                  El campo es requerido
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiardetalleEstudiante()">
                <i class="fa fa-times" aria-hidden="true"></i>
                <b>Cerrar</b>
              </button>
              <button type="button" class="btn btn-success" (click)="updateEstudiante()" [disabled]="!formDetalleEstudiante.valid">
                <i class="fa fa-check" aria-hidden="true"></i>
                <b>Actualizar</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" hidden data-target="#borrarEstudianteModal" #btnBorrarEstudiante></button>

<div class="modal fade" id="borrarEstudianteModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" role="dialog" aria-labelledby="borrarEstudianteModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="card card-inverse card-primary text-xs-center">
          <div class="card-block">
            <div class="modal-header">
              <h5 class="modal-title" id="borrarEstudianteModalLabel">
                <img [src]="imageIqMedi" style="width: 50px">
                <font color="white">Mensaje</font>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #btnCerrarEliminarEstudianta (click)="limpiardetalleEstudiante()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-info">
                <strong><i class="fa fa-info" aria-hidden="true"></i></strong> {{mensaje}}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiardetalleEstudiante()">
                <i class="fa fa-times" aria-hidden="true"></i>
                <b>No</b>
              </button>
              <button type="button" class="btn btn-success" (click)="deleteEstudiante()">
                <i class="fa fa-check" aria-hidden="true"></i>
                <b>Si</b>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="historialTestModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="historialTestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img [src]="imageIqMedi" style="width: 50px">
        <h5 class="modal-title" id="historialTestModalLabel">Evaluaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiardetalleEstudiante()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Tests Disponibles: </h6>
        <hr>
        <table>
          <tr>
            <td *ngFor="let test of tests">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#testModal" (click)="setTestEstudiante(test)">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <b>{{test.nombre}}</b>
              </button>
            </td>
          </tr>
        </table>
        <hr>
        <h6>Historial de Tests Realizados</h6>
        <div style="height:200px;overflow-y: scroll;">
          <table class="table table-bordered table-sm table-hover">
            <thead>
              <tr>
                <th>
                  Tipo Test
                </th>
                <th>
                  Fecha de Test
                </th>
                <th>
                  CI
                </th>
                <th>
                  Nivel ACG
                </th>
                <th>
                  Edad Metal
                </th>
                <th>
                  Exportar Resultados
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resultTestEval of testEvaluado">
                <td>{{resultTestEval.tipo_test==='-KqMrJZ-UEASUXSbu-n8'? 'Zazzo' : (resultTestEval.tipo_test==='-KqMrQPAJJ2H5Q1Pz01v'? 'WISC III': '')}}</td>
                <td>{{resultTestEval.fecha}}</td>
                <td>{{resultTestEval.ci}}</td>
                <td>{{resultTestEval.nivelcognitivo}}</td>
                <td>{{resultTestEval.edadmental? mesesanios(resultTestEval.edadmental) : 'El puntaje es muy bajo para calcular la edad mental'}}</td>
                <td>
                  <button type="button" class="btn btn-outline-primary" (click)="exportarResultado(resultTestEval)">
                    <i class="fa fa-list-alt" aria-hidden="true">&nbsp;Exportar a Excel</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <i class="fa fa-info-circle" aria-hidden="true">&nbsp;(CI - Coeficiente Intelectual)</i>
        <br>
        <i class="fa fa-info-circle" aria-hidden="true">&nbsp;(ACG - Aptitud Cognitiva General)</i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiardetalleEstudiante()">
          <i class="fa fa-times" aria-hidden="true"></i>
          <b>Cerrar</b>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="testModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
  <form [formGroup]="formDatosTest" class="form-inline">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img [src]="imageIqMedi" style="width: 50px">
        <h5 class="modal-title" id="testModalLabel">Evaluando con Test&nbsp;{{test?test.nombre:null}}</h5>
        <button type="button" class="close" data-dismiss="modal" #btnCerrarEvaluacionTest aria-label="Close" (click)="limpiarTest()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Fecha de Nacimiento</b></i></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Fecha de Nacimiento" formControlName="fechanacimiento" readonly>
        </div>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Fecha de Test</b></i></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Fecha de Test" formControlName="fechatest" readonly>
        </div>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Edad</b></i></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Edad" formControlName="edad" readonly>
        </div>
        <div hidden class="input-group">
          <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true">&nbsp;<b>Edad en Meses</b></i></div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Edad en Meses" formControlName="edadmeses" readonly>
        </div>
        <div class="card" style="height:200px;overflow-y: scroll;">
          <div class="card-block">
            <h6 class="card-title">Material para la Aplicación</h6>
            <p *ngFor="let mate of material">{{mate.item}}</p>
          </div>
        </div>
        <div *ngIf="!ismayor()" class="card card-outline-warning">
            <div class="card-block">
              <p><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;La edad real de la persona está fuera del rango de edades permitidos para este test ( {{(edadminima/12) + ' años'}}  {{edadmaxima===0? ' o mayor':(' a ' + (edadmaxima/12) + ' años')}}).</p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="ismayor()" class="btn btn-success" data-toggle="modal" data-target="#preguntaModal" (click)="sigPregunta()">
          <i class="fa fa-play" aria-hidden="true">&nbsp;<b>Iniciar Evaluación</b></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarTest()">
          <i class="fa fa-times" aria-hidden="true"></i>
          <b>Cerrar</b>
        </button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal fade" id="preguntaModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="preguntaModalLabel" aria-hidden="true">
  <form [formGroup]="formRespuestaPregunta">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img [src]="imageIqMedi" style="width: 50px">
        <h5 class="modal-title" id="preguntaModalLabel">Evaluando con Test&nbsp;{{test?test.nombre:null}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelarTest()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="!resutadofinal"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;Pregunta&nbsp;{{numero_pregunta!==0?numero_pregunta:''}}&nbsp;</h6>
        <hr *ngIf="!resutadofinal">
        <div *ngIf="((testcompleto || preguntaopcional) && !resutadofinal) ? true : false">
          <h6><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Menú de Navegación del Cuestionario&nbsp;</h6>
          <button type="button" class="btn btn-outline-primary" (click)="antes()" [disabled]="(numero_pregunta==1 || numero_pregunta==0) ? true : false">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>
          <select class="custom-select" id="inlineFormCustomSelect" id="nropregunta" formControlName="nropregunta" (change)="selPregunta()">
            <option *ngFor="let nro of nropreguntas" value="{{nro.nropre}}"
            [disabled]="(nro.nropre==0) ? true : false" [selected]="nro.nropre==numero_pregunta ? true : false">{{nro.nropre!=0 ? nro.nropre: ''}}</option>
          </select>
          <button type="button" class="btn btn-outline-primary" (click)="siguiente()" [disabled]="(numero_pregunta==numeropreguntas || numero_pregunta==0) ? true : false">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="irresumen()" [disabled]="(numero_pregunta==0) ? true : false">
            <i class="fa fa-list-alt" aria-hidden="true">&nbsp;Ir a resumen de resultados</i>
          </button>
          <hr>
          <div class="dropdown">
            <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-list-alt" aria-hidden="true"><b>&nbsp;Opcional - Escoger Sub-Test</b></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <h6 class="dropdown-header">Sub-Tests</h6>
              <button *ngFor="let subT of tipoSubTests"  class="dropdown-item" type="button" (click)="preguntaSub(subT.pregunta)" >{{subT.test}}</button>
            </div>
          </div>
          <hr>
        </div>
        <ul class="list-group" *ngFor="let preg of pregunta">
          <li class="list-group-item list-group-item-warning" *ngIf="preg.opcional ? true : false"><i class="fa fa-info-circle" aria-hidden="true">&nbsp;<b>Pregunta Opcional&nbsp;</b></i>Puede ir directamente al resumen de resultados para calificar el test.</li>
          <li class="list-group-item active"><i class="fa fa-question-circle-o" aria-hidden="true">&nbsp;<b>Preguntar:&nbsp;</b></i>{{preg.pregunta}}</li>
          <li class="list-group-item list-group-item-action"><i class="fa fa-info-circle" aria-hidden="true">&nbsp;<b>Consigna:&nbsp;</b></i>{{ preg.aplicacion}}</li>
          <li class="list-group-item list-group-item-action"><i class="fa fa-info-circle" aria-hidden="true">&nbsp;<b>Modo de preguntar:&nbsp;</b></i>{{ preg.auxpregunta}}</li>
          <li class="list-group-item list-group-item-action"><i class="fa fa-info-circle" aria-hidden="true">&nbsp;<b>Consejo:&nbsp;</b></i>{{ preg.consejo}}</li>
          <li class="list-group-item active"><i class="fa fa-clock-o" aria-hidden="true">&nbsp;<b>Tiempo:&nbsp;</b></i> </li>
          <li class="list-group-item list-group-item-action">
            <p>horas:&nbsp;{{hora}}&nbsp;minutos:&nbsp;{{minuto}}&nbsp;segundos:&nbsp;{{segundo}}</p>
          </li>
          <li class="list-group-item active">
            <i class="fa fa-check-circle-o" aria-hidden="true">&nbsp;<b>Puntaje:&nbsp;</b></i>
          </li>
          <select class="form-control" id="respuesta" id="respuesta" formControlName="respuesta" (change)="wait()">
            <option value="" selected disabled>Selecciones el Puntaje</option>
            <option *ngFor="let resp of respuesta" value="{{resp.puntaje}}">{{resp.etipuntaje}}</option>
          </select>
          <div *ngIf="formRespuestaPregunta.controls.respuesta.errors && formRespuestaPregunta.controls.respuesta.touched">
            <div *ngIf="formRespuestaPregunta.controls.respuesta.errors.required" class="alert alert-dselectedanger">
              El campo es requerido
            </div>
          </div>
          <input readonly type="text" hidden class="form-control form-control-success" id="tipopregunta" placeholder="Tipo Pregunta" formControlName="tipopregunta" [(ngModel)]="preg.tipo_pregunta" value="{{preg.tipo_pregunta}}">
          <input readonly type="text" hidden class="form-control form-control-success" id="errores" placeholder="" formControlName="errores" [(ngModel)]="preg.errores" value="{{preg.errores}}">
          <input readonly type="text" hidden class="form-control form-control-success" id="siguiente" placeholder="" formControlName="siguiente" [(ngModel)]="preg.siguiente" value="{{preg.siguiente}}">
          <input readonly type="text" hidden class="form-control form-control-success" id="categoria" placeholder="" formControlName="categoria" [(ngModel)]="preg.categoria" value="{{preg.categoria}}">
          <input readonly type="text" hidden class="form-control form-control-success" id="opcional" placeholder="" formControlName="opcional" [(ngModel)]="preg.opcional" value="{{preg.opcional}}">
          <input readonly type="text" hidden class="form-control form-control-success" id="sigopcional" placeholder="" formControlName="sigopcional" [(ngModel)]="preg.sigopcional" value="{{preg.sigopcional}}">
        </ul>
        <div style="width: 100%;margin: 0 auto;">
          <button type="button" *ngIf="!(calificar || numero_pregunta==0)" class="btn btn-success btn-block" (click)="start()">
            <i class="fa fa-clock-o" aria-hidden="true">&nbsp;<b>Iniciar Tiempo</b></i>
          </button>
        </div>
        <h5 *ngIf="((calificar && numero_pregunta==0) && !resutadofinal)">Historial de Respuestas</h5>
        <div *ngIf="((calificar && numero_pregunta==0) && !resutadofinal)" style="height:200px;overflow-y: scroll;">
            <table class="table table-bordered table-sm table-hover">
                <thead>
                  <tr>
                    <th>
                      # de Pregunta
                    </th>
                    <th>
                      Puntaje
                    </th>
                    <th>
                      Tiempo (Segundos)
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let resultPr of resultadopregunta">
                    <td>{{resultPr.numeropregunta}}</td>
                    <td>{{resultPr.puntaje}}</td>
                    <td>{{resultPr.tiempo}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div>
            <h5 *ngIf="resutadofinal">Resultados Tabulados</h5>
            <hr *ngIf="resutadofinal">
            <h6 *ngIf="resutadofinal">Resultados Tabulados por Categoría</h6>
            <div *ngIf="resutadofinal" style="height:250px;overflow-y: scroll;">
                <table class="table table-bordered table-sm table-hover">
                    <thead>
                      <tr>
                        <th>
                          Categoría de pregunta
                        </th>
                        <th>
                          Puntaje
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let resultCat of resultadoCategoria">
                        <td>{{resultCat.categoria === 0? 'Normal': (resultCat.categoria === 1? 'Puntaje de Escala Verbal': (resultCat.categoria === 2? 'Puntaje de Escala de Ejecución': ''))}}</td>
                        <td>{{resultCat.puntaje}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
              <hr *ngIf="resutadofinal">
              <h6 *ngIf="resutadofinal">Resultados Generales</h6>
              <div *ngIf="resutadofinal" style="height:80px;overflow-y: scroll;">
                <table class="table table-bordered table-sm table-hover">
                  <thead>
                    <tr>
                      <th>
                        Fecha Test
                      </th>
                      <th>
                        Edad Mental
                      </th>
                      <th>
                        Puntaje Total
                      </th>
                      <th>
                        CI
                      </th>
                      <th>
                        Nivel de ACG
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let testCalf of testCalificado">
                      <td>{{testCalf.fecha}}</td>
                      <td>{{testCalf.edadmental? mesesanios(testCalf.edadmental) : 'El puntaje es muy bajo para calcular la edad mental'}}</td>
                      <td>{{testCalf.puntajetotal}}</td>
                      <td>{{testCalf.ci}}</td>
                      <td>{{testCalf.nivelcognitivo}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr *ngIf="resutadofinal">
              <i *ngIf="resutadofinal" class="fa fa-info-circle" aria-hidden="true">&nbsp;(CI - Coeficiente Intelectual)</i>
              <br *ngIf="resutadofinal">
              <i *ngIf="resutadofinal" class="fa fa-info-circle" aria-hidden="true">&nbsp;(ACG - Aptitud Cognitiva General)</i>
          </div>
        <hr>
        <div style="width: 100%;margin: 0 auto;" *ngIf="!resutadofinal">
          <button type="button" class="btn btn-success btn-block" *ngIf="(calificar && numero_pregunta==0)" (click)="calificarTest()">
            <i class="fa fa-arrow-right" aria-hidden="true">&nbsp;<b>Calificar Test</b></i>
          </button>
        </div>
        <div style="width: 100%;margin: 0 auto;">
          <button type="button" #btnguardarrespuesta class="btn btn-success btn-block" *ngIf="!(calificar || numero_pregunta==0)" (click)="sigPregunta()" [disabled]="!formRespuestaPregunta.valid">
            <i class="fa fa-arrow-right" aria-hidden="true">&nbsp;<b>Guardar y Seguir Test</b></i>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button  *ngIf="resutadofinal" type="button" class="btn btn-outline-primary" (click)="exportar()">
          <i class="fa fa-list-alt" aria-hidden="true">&nbsp;Exportar a Excel los Resultados</i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelarTest()">
          <i class="fa fa-times" aria-hidden="true"></i>
          <b>{{!resutadofinal? 'Cancelar' : 'Salir'}}</b>
        </button>
      </div>
    </div>
  </div>
  </form>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" hidden data-target="#loadingModalEst" #btnmostrarloadingest></button>

<div class="modal fade" id="loadingModalEst" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="loadingModalEstLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
              <div class="modal-header">
                <h5 class="modal-title" id="loadingModalEstLabel">
                  <img [src]="imageIqMedi" style="width: 50px">
                  <font color="white">Mensaje</font>
                </h5>
                <button type="button" class="close" data-dismiss="modal" hidden aria-label="Close" #btncerrarloadingest>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <style>
                  .loader {
                    border: 35px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 35px solid #3498db;
                    width: 240px;
                    height: 240px;
                    -webkit-animation: spin 5s linear infinite;
                    animation: spin 7s linear infinite;
                    margin: 0 auto;
                  }

                  @-webkit-keyframes spin {
                    0% { -webkit-transform: rotate(0deg); }
                    100% { -webkit-transform: rotate(360deg); }
                  }

                  @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                  }
                </style>
                <div class="loader"></div>
              </div>
              <div class="modal-footer">
                <font color="white">Cargando...</font>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
